In [1]:
# Parameters
micro_humility_factor = 1     #    range from 0 (complete humility) to 1 (no humility)
macro_humility_factor = 0.96
jason_weight = .2
bruno_weight = .2
reynaldo_weight = 1 - jason_weight - bruno_weight

In [2]:
# Get ready for lots of annoying deprecation warnings
import statsmodels.api as sm

/home/simon/.local/lib/python2.7/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import model_selection, preprocessing
import xgboost as xgb
import datetime

/home/simon/.local/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

Fit macro model and compute average prediction

In [5]:
# Read data
macro = pd.read_csv('input/macro.csv')
train = pd.read_csv('input/train.csv')
test = pd.read_csv('input/test.csv')

# Macro data monthly medians
macro["timestamp"] = pd.to_datetime(macro["timestamp"])
macro["year"]  = macro["timestamp"].dt.year
macro["month"] = macro["timestamp"].dt.month
macro["yearmonth"] = 100*macro.year + macro.month
macmeds = macro.groupby("yearmonth").median()

# Price data monthly medians
train["timestamp"] = pd.to_datetime(train["timestamp"])
train["year"]  = train["timestamp"].dt.year
train["month"] = train["timestamp"].dt.month
train["yearmonth"] = 100*train.year + train.month
prices = train[["yearmonth","price_doc"]]
p = prices.groupby("yearmonth").median()

# Join monthly prices to macro data
df = macmeds.join(p)

In [6]:
print macro
print train
print macmeds
print prices
print p
print df

      timestamp  oil_urals  gdp_quart  gdp_quart_growth    cpi    ppi  \
0    2010-01-01    76.1000        NaN               NaN    NaN    NaN
1    2010-01-02    76.1000        NaN               NaN    NaN    NaN
2    2010-01-03    76.1000        NaN               NaN    NaN    NaN
3    2010-01-04    76.1000        NaN               NaN    NaN    NaN
4    2010-01-05    76.1000        NaN               NaN    NaN    NaN
5    2010-01-06    76.1000        NaN               NaN    NaN    NaN
6    2010-01-07    76.1000        NaN               NaN    NaN    NaN
7    2010-01-08    76.1000        NaN               NaN    NaN    NaN
8    2010-01-09    76.1000        NaN               NaN    NaN    NaN
9    2010-01-10    76.1000        NaN               NaN    NaN    NaN
10   2010-01-11    76.1000        NaN               NaN    NaN    NaN
11   2010-01-12    76.1000        NaN               NaN    NaN    NaN
12   2010-01-13    76.1000        NaN               NaN    NaN    NaN
13   2010-01-14    76.1000        NaN               NaN    NaN    NaN
14   2010-01-15    76.1000        NaN               NaN    NaN    NaN
15   2010-01-16    76.1000        NaN               NaN    NaN    NaN
16   2010-01-17    76.1000        NaN               NaN    NaN    NaN
17   2010-01-18    76.1000        NaN               NaN    NaN    NaN
18   2010-01-19    76.1000        NaN               NaN    NaN    NaN
19   2010-01-20    76.1000        NaN               NaN    NaN    NaN
20   2010-01-21    76.1000        NaN               NaN    NaN    NaN
21   2010-01-22    76.1000        NaN               NaN    NaN    NaN
22   2010-01-23    76.1000        NaN               NaN    NaN    NaN
23   2010-01-24    76.1000        NaN               NaN    NaN    NaN
24   2010-01-25    76.1000        NaN               NaN    NaN    NaN
25   2010-01-26    76.1000        NaN               NaN    NaN    NaN
26   2010-01-27    76.1000        NaN               NaN    NaN    NaN
27   2010-01-28    76.1000        NaN               NaN    NaN    NaN
28   2010-01-29    76.1000        NaN               NaN    NaN    NaN
29   2010-01-30    76.1000        NaN               NaN    NaN    NaN
...         ...        ...        ...               ...    ...    ...
2454 2016-09-20    44.3677    19979.4              -0.6  530.1  597.8
2455 2016-09-21    44.3677    19979.4              -0.6  530.1  597.8
2456 2016-09-22    44.3677    19979.4              -0.6  530.1  597.8
2457 2016-09-23    44.3677    19979.4              -0.6  530.1  597.8
2458 2016-09-24    44.3677    19979.4              -0.6  530.1  597.8
2459 2016-09-25    44.3677    19979.4              -0.6  530.1  597.8
2460 2016-09-26    44.3677    19979.4              -0.6  530.1  597.8
2461 2016-09-27    44.3677    19979.4              -0.6  530.1  597.8
2462 2016-09-28    44.3677    19979.4              -0.6  530.1  597.8
2463 2016-09-29    44.3677    19979.4              -0.6  530.1  597.8
2464 2016-09-30    44.3677    19979.4              -0.6  530.1  597.8
2465 2016-10-01    44.3677    19979.4              -0.6  531.0  601.9
2466 2016-10-02    44.3677    19979.4              -0.6  531.0  601.9
2467 2016-10-03    44.3677    19979.4              -0.6  531.0  601.9
2468 2016-10-04    44.3677    19979.4              -0.6  531.0  601.9
2469 2016-10-05    44.3677    19979.4              -0.6  531.0  601.9
2470 2016-10-06    44.3677    19979.4              -0.6  531.0  601.9
2471 2016-10-07    44.3677    19979.4              -0.6  531.0  601.9
2472 2016-10-08    44.3677    19979.4              -0.6  531.0  601.9
2473 2016-10-09    44.3677    19979.4              -0.6  531.0  601.9
2474 2016-10-10    44.3677    19979.4              -0.6  531.0  601.9
2475 2016-10-11    44.3677    19979.4              -0.6  531.0  601.9
2476 2016-10-12    44.3677    19979.4              -0.6  531.0  601.9
2477 2016-10-13    44.3677    19979.4              -0.6  531.0  601.9
2478 2016-10-14    44.3677    19979.4              -0.6  531.0  601.9
2479 2016-10-15    44.3677    19979.4              -0.6  531.0  601.9
2480 2016-10-16    44.3677    19979.4              -0.6  531.0  601.9
2481 2016-10-17    44.3677    19979.4              -0.6  531.0  601.9
2482 2016-10-18    44.3677    19979.4              -0.6  531.0  601.9
2483 2016-10-19    44.3677    19979.4              -0.6  531.0  601.9

      gdp_deflator  balance_trade  balance_trade_growth   usdrub    ...      \
0              NaN            NaN                   NaN      NaN    ...
1              NaN            NaN                   NaN      NaN    ...
2              NaN            NaN                   NaN      NaN    ...
3              NaN            NaN                   NaN  29.9050    ...
4              NaN            NaN                   NaN  29.8360    ...
5              NaN            NaN                   NaN  29.7150    ...
6              NaN            NaN                   NaN  29.7750    ...
7              NaN            NaN                   NaN  29.7750    ...
8              NaN            NaN                   NaN  29.7750    ...
9              NaN            NaN                   NaN  29.7750    ...
10             NaN            NaN                   NaN  29.3270    ...
11             NaN            NaN                   NaN  29.5095    ...
12             NaN            NaN                   NaN  29.5967    ...
13             NaN            NaN                   NaN  29.4750    ...
14             NaN            NaN                   NaN  29.5450    ...
15             NaN            NaN                   NaN  29.5450    ...
16             NaN            NaN                   NaN  29.5450    ...
17             NaN            NaN                   NaN  29.5909    ...
18             NaN            NaN                   NaN  29.6060    ...
19             NaN            NaN                   NaN  29.7513    ...
20             NaN            NaN                   NaN  29.7560    ...
21             NaN            NaN                   NaN  29.8400    ...
22             NaN            NaN                   NaN  29.8400    ...
23             NaN            NaN                   NaN  29.8400    ...
24             NaN            NaN                   NaN  30.1172    ...
25             NaN            NaN                   NaN  30.3188    ...
26             NaN            NaN                   NaN  30.3078    ...
27             NaN            NaN                   NaN  30.3568    ...
28             NaN            NaN                   NaN  30.3482    ...
29             NaN            NaN                   NaN  30.3482    ...
...            ...            ...                   ...      ...    ...
2454        133.16          5.823                  -0.9  64.8147    ...
2455        133.16          5.823                  -0.9  64.2133    ...
2456        133.16          5.823                  -0.9  63.6489    ...
2457        133.16          5.823                  -0.9  64.0796    ...
2458        133.16          5.823                  -0.9  64.0796    ...
2459        133.16          5.823                  -0.9  64.0796    ...
2460        133.16          5.823                  -0.9  63.8128    ...
2461        133.16          5.823                  -0.9  63.9400    ...
2462        133.16          5.823                  -0.9  63.7425    ...
2463        133.16          5.823                  -0.9  63.1264    ...
2464        133.16          5.823                  -0.9  62.8790    ...
2465        133.16          5.823                   2.6  62.8790    ...
2466        133.16          5.823                   2.6  62.8790    ...
2467        133.16          5.823                   2.6  62.1962    ...
2468        133.16          5.823                   2.6  62.6221    ...
2469        133.16          5.823                   2.6  62.3731    ...
2470        133.16          5.823                   2.6  62.1359    ...
2471        133.16          5.823                   2.6  62.3160    ...
2472        133.16          5.823                   2.6  62.3160    ...
2473        133.16          5.823                   2.6  62.3160    ...
2474        133.16          5.823                   2.6  62.0086    ...
2475        133.16          5.823                   2.6  62.6543    ...
2476        133.16          5.823                   2.6  62.9110    ...
2477        133.16          5.823                   2.6  62.9178    ...
2478        133.16          5.823                   2.6  62.9573    ...
2479        133.16          5.823                   2.6  62.9573    ...
2480        133.16          5.823                   2.6  62.9573    ...
2481        133.16          5.823                   2.6  63.0856    ...
2482        133.16          5.823                   2.6  62.9512    ...
2483        133.16          5.823                   2.6  62.9512    ...

      seats_theather_rfmin_per_100000_cap  museum_visitis_per_100_cap  \
0                                    0.41                       993.0
1                                    0.41                       993.0
2                                    0.41                       993.0
3                                    0.41                       993.0
4                                    0.41                       993.0
5                                    0.41                       993.0
6                                    0.41                       993.0
7                                    0.41                       993.0
8                                    0.41                       993.0
9                                    0.41                       993.0
10                                   0.41                       993.0
11                                   0.41                       993.0
12                                   0.41                       993.0
13                                   0.41                       993.0
14                                   0.41                       993.0
15                                   0.41                       993.0
16                                   0.41                       993.0
17                                   0.41                       993.0
18                                   0.41                       993.0
19                                   0.41                       993.0
20                                   0.41                       993.0
21                                   0.41                       993.0
22                                   0.41                       993.0
23                                   0.41                       993.0
24                                   0.41                       993.0
25                                   0.41                       993.0
26                                   0.41                       993.0
27                                   0.41                       993.0
28                                   0.41                       993.0
29                                   0.41                       993.0
...                                   ...                         ...
2454                                  NaN                         NaN
2455                                  NaN                         NaN
2456                                  NaN                         NaN
2457                                  NaN                         NaN
2458                                  NaN                         NaN
2459                                  NaN                         NaN
2460                                  NaN                         NaN
2461                                  NaN                         NaN
2462                                  NaN                         NaN
2463                                  NaN                         NaN
2464                                  NaN                         NaN
2465                                  NaN                         NaN
2466                                  NaN                         NaN
2467                                  NaN                         NaN
2468                                  NaN                         NaN
2469                                  NaN                         NaN
2470                                  NaN                         NaN
2471                                  NaN                         NaN
2472                                  NaN                         NaN
2473                                  NaN                         NaN
2474                                  NaN                         NaN
2475                                  NaN                         NaN
2476                                  NaN                         NaN
2477                                  NaN                         NaN
2478                                  NaN                         NaN
2479                                  NaN                         NaN
2480                                  NaN                         NaN
2481                                  NaN                         NaN
2482                                  NaN                         NaN
2483                                  NaN                         NaN

      bandwidth_sports  population_reg_sports_share  \
0                  NaN                          NaN
1                  NaN                          NaN
2                  NaN                          NaN
3                  NaN                          NaN
4                  NaN                          NaN
5                  NaN                          NaN
6                  NaN                          NaN
7                  NaN                          NaN
8                  NaN                          NaN
9                  NaN                          NaN
10                 NaN                          NaN
11                 NaN                          NaN
12                 NaN                          NaN
13                 NaN                          NaN
14                 NaN                          NaN
15                 NaN                          NaN
16                 NaN                          NaN
17                 NaN                          NaN
18                 NaN                          NaN
19                 NaN                          NaN
20                 NaN                          NaN
21                 NaN                          NaN
22                 NaN                          NaN
23                 NaN                          NaN
24                 NaN                          NaN
25                 NaN                          NaN
26                 NaN                          NaN
27                 NaN                          NaN
28                 NaN                          NaN
29                 NaN                          NaN
...                ...                          ...
2454               NaN                          NaN
2455               NaN                          NaN
2456               NaN                          NaN
2457               NaN                          NaN
2458               NaN                          NaN
2459               NaN                          NaN
2460               NaN                          NaN
2461               NaN                          NaN
2462               NaN                          NaN
2463               NaN                          NaN
2464               NaN                          NaN
2465               NaN                          NaN
2466               NaN                          NaN
2467               NaN                          NaN
2468               NaN                          NaN
2469               NaN                          NaN
2470               NaN                          NaN
2471               NaN                          NaN
2472               NaN                          NaN
2473               NaN                          NaN
2474               NaN                          NaN
2475               NaN                          NaN
2476               NaN                          NaN
2477               NaN                          NaN
2478               NaN                          NaN
2479               NaN                          NaN
2480               NaN                          NaN
2481               NaN                          NaN
2482               NaN                          NaN
2483               NaN                          NaN

      students_reg_sports_share  apartment_build  apartment_fund_sqm  year  \
0                         63.03          22825.0                 NaN  2010
1                         63.03          22825.0                 NaN  2010
2                         63.03          22825.0                 NaN  2010
3                         63.03          22825.0                 NaN  2010
4                         63.03          22825.0                 NaN  2010
5                         63.03          22825.0                 NaN  2010
6                         63.03          22825.0                 NaN  2010
7                         63.03          22825.0                 NaN  2010
8                         63.03          22825.0                 NaN  2010
9                         63.03          22825.0                 NaN  2010
10                        63.03          22825.0                 NaN  2010
11                        63.03          22825.0                 NaN  2010
12                        63.03          22825.0                 NaN  2010
13                        63.03          22825.0                 NaN  2010
14                        63.03          22825.0                 NaN  2010
15                        63.03          22825.0                 NaN  2010
16                        63.03          22825.0                 NaN  2010
17                        63.03          22825.0                 NaN  2010
18                        63.03          22825.0                 NaN  2010
19                        63.03          22825.0                 NaN  2010
20                        63.03          22825.0                 NaN  2010
21                        63.03          22825.0                 NaN  2010
22                        63.03          22825.0                 NaN  2010
23                        63.03          22825.0                 NaN  2010
24                        63.03          22825.0                 NaN  2010
25                        63.03          22825.0                 NaN  2010
26                        63.03          22825.0                 NaN  2010
27                        63.03          22825.0                 NaN  2010
28                        63.03          22825.0                 NaN  2010
29                        63.03          22825.0                 NaN  2010
...                         ...              ...                 ...   ...
2454                        NaN              NaN                 NaN  2016
2455                        NaN              NaN                 NaN  2016
2456                        NaN              NaN                 NaN  2016
2457                        NaN              NaN                 NaN  2016
2458                        NaN              NaN                 NaN  2016
2459                        NaN              NaN                 NaN  2016
2460                        NaN              NaN                 NaN  2016
2461                        NaN              NaN                 NaN  2016
2462                        NaN              NaN                 NaN  2016
2463                        NaN              NaN                 NaN  2016
2464                        NaN              NaN                 NaN  2016
2465                        NaN              NaN                 NaN  2016
2466                        NaN              NaN                 NaN  2016
2467                        NaN              NaN                 NaN  2016
2468                        NaN              NaN                 NaN  2016
2469                        NaN              NaN                 NaN  2016

           oil_urals  gdp_quart  gdp_quart_growth    cpi    ppi  gdp_deflator  \
yearmonth
201001       76.1000        NaN               NaN    NaN    NaN           NaN
201002       72.9700        NaN               NaN  315.1  337.2           NaN
201003       77.0300        NaN               NaN  317.7  343.9           NaN
201004       82.8700     9995.8               4.1  319.8  350.2           NaN
201005       73.0500     9995.8               4.1  320.7  361.3           NaN
201006       74.0500     9995.8               4.1  322.3  371.1           NaN
201007       73.6200    10977.0               5.0  323.6  359.6           NaN
201008       75.4000    10977.0               5.0  324.8  361.8           NaN
201009       77.6000    10977.0               5.0  326.6  373.6           NaN
201010       81.4900    12086.5               3.8  329.3  368.9           NaN
201011       84.9000    12086.5               3.8  330.9  377.1           NaN
201012       89.5600    12086.5               3.8  333.6  393.7           NaN
201101       93.8200    13249.3               5.1  337.2  397.6        86.721
201102      100.9600    13249.3               5.1  345.2  406.2        86.721
201103      111.2700    13249.3               5.1  347.9  419.8        86.721
201104      119.3300    12844.3               3.3  350.0  425.5        86.721
201105      111.1400    12844.3               3.3  351.5  433.9        86.721
201106      111.5400    12844.3               3.3  353.2  438.4        86.721
201107      115.7400    14313.7               3.3  354.0  428.5        86.721
201108      109.3100    14313.7               3.3  354.0  420.7        86.721
201109      111.2900    14313.7               3.3  353.2  434.4        86.721
201110      108.2400    15663.6               5.0  353.0  436.5        86.721
201111      110.4300    15663.6               5.0  354.7  440.5        86.721
201112      107.9000    15663.6               5.0  356.2  444.6        86.721
201201      109.9100    16876.6               5.2  357.8  445.4       100.000
201202      119.0300    16876.6               5.2  359.5  444.3       100.000
201203      122.5200    16876.6               5.2  360.9  449.0       100.000
201204      117.8700    14925.0               4.7  363.0  458.7       100.000
201205      109.2000    14925.0               4.7  364.1  461.7       100.000
201206       93.7400    14925.0               4.7  366.0  450.8       100.000
...              ...        ...               ...    ...    ...           ...
201405      107.8430    17138.9               0.6  419.1  500.3       113.465
201406      109.6476    17138.9               0.6  422.8  502.4       113.465
201407      105.6383    18884.6               0.7  425.5  506.5       113.465
201408      101.4165    18884.6               0.7  427.5  514.8       113.465
201409       95.6732    18884.6               0.7  428.6  514.7       113.465
201410       86.6257    20406.9               0.9  431.4  510.8       113.465
201411       78.9665    20406.9               0.9  434.9  512.5       113.465
201412       61.2833    20406.9               0.9  440.5  510.1       113.465
201501       46.3414    21514.7               0.4  452.0  513.9       123.661
201502       57.8630    21514.7               0.4  469.4  520.7       123.661
201503       54.6423    21514.7               0.4  479.8  531.7       123.661
201504       59.1295    18209.7              -2.8  485.6  561.0       123.661
201505       63.3737    18209.7              -2.8  487.8  575.9       123.661
201506       61.4105    18209.7              -2.8  489.5  568.9       123.661
201507       55.8961    19284.1              -4.5  490.5  572.8       123.661
201508       45.5825    19284.1              -4.5  494.4  581.2       123.661
201509       47.0118    19284.1              -4.5  496.1  581.9       123.661
201510       47.3436    21294.4              -3.7  499.0  575.5       123.661
201511       42.3962    21294.4              -3.7  502.7  585.5       123.661
201512       36.7805    21294.4              -3.7  506.4  581.6       123.661
201601       29.1125    22016.1              -3.8  510.3  568.7       133.160
201602       30.5943    22016.1              -3.8  515.2  560.8       133.160
201603       36.6171    22016.1              -3.8  518.5  551.9       133.160
201604       39.9762    18561.3              -1.2  520.9  569.1       133.160
201605       45.0185    18561.3              -1.2  523.2  584.0       133.160
201606       46.6518    18561.3              -1.2  525.3  589.6       133.160
201607       43.6614    19979.4              -0.6  527.2  605.3       133.160
201608       43.8159    19979.4              -0.6  530.1  606.1       133.160
201609       44.3677    19979.4              -0.6  530.1  597.8       133.160
201610       44.3677    19979.4              -0.6  531.0  601.9       133.160

           balance_trade  balance_trade_growth    usdrub    eurrub  ...    \
yearmonth                                                           ...
201001               NaN                   NaN  29.77500  42.56010  ...
201002            18.114                   NaN  30.11925  41.15960  ...
201003            16.704                   NaN  29.52680  40.24980  ...
201004            16.604                  14.1  29.15250  39.25240  ...
201005            15.654                  14.1  30.61500  38.46080  ...
201006            13.738                  14.1  31.14935  38.17980  ...
201007            13.635                  -4.1  30.53240  39.08910  ...
201008            11.875                  -4.1  30.51130  39.13250  ...
201009             9.618                  -4.1  30.76325  40.35735  ...
201010            11.883                   2.2  30.42440  42.27490  ...
201011            12.029                   2.2  31.00210  42.23390  ...
201012            11.810                   2.2  30.80630  40.80860  ...
201101            16.494                  18.6  30.00450  40.40300  ...
201102            15.641                  18.6  29.27520  39.82160  ...
201103            18.381                  18.6  28.38210  39.82370  ...
201104            17.037                  18.7  28.10670  40.61135  ...
201105            19.270                  18.7  28.04500  39.97940  ...
201106            16.761                  18.7  27.97850  40.22000  ...
201107            17.190                  10.1  27.85540  39.82490  ...
201108            15.459                  10.1  28.91270  41.57870  ...
201109            15.386                  10.1  30.51085  42.15440  ...
201110            17.199                  18.1  31.09850  42.95850  ...
201111            17.629                  18.1  30.71540  41.74880  ...
201112            19.066                  18.1  31.49100  41.58120  ...
201201            21.939                  34.4  31.57810  40.39320  ...
201202            21.832                  34.4  29.93770  39.45500  ...
201203            20.858                  34.4  29.34220  38.71300  ...
201204            19.639                  33.6  29.46415  38.80330  ...
201205            19.484                  33.6  31.00240  39.45640  ...
201206            18.363                  33.6  32.70500  41.08785  ...
...                  ...                   ...       ...       ...  ...
201405            21.583                  47.5  34.76670  47.61930  ...
201406            19.978                  47.5  34.40800  46.72820  ...
201407            15.818                  21.5  34.46910  46.89930  ...
201408            18.632                  21.5  36.16900  48.17470  ...
201409            18.076                  21.5  38.23010  49.09400  ...
201410            14.256                   7.2  40.64560  51.91170  ...
201411            16.540                   7.2  46.64960  58.02790  ...
201412            15.317                   7.2  54.84800  68.13780  ...
201501            15.183                  75.8  64.37950  75.18750  ...
201502            16.889                  75.8  63.49460  72.11230  ...
201503            14.695                  75.8  60.22130  65.11670  ...
201504            16.650                  32.9  52.21565  56.58905  ...
201505            15.602                  32.9  50.47490  56.70360  ...
201506            16.416                  32.9  54.69980  61.32370  ...
201507            14.788                  18.6  56.94890  62.57360  ...
201508            11.428                  18.6  64.94650  72.19680  ...
201509             9.838                  18.6  66.49500  75.12010  ...
201510            10.501                  -3.4  62.60890  70.40160  ...
201511            11.246                  -3.4  65.02500  69.66475  ...
201512            10.108                  -3.4  70.38010  76.97490  ...
201601            12.663                   9.4  76.49350  82.98880  ...
201602             8.481                   9.4  77.37930  85.72210  ...
201603             7.991                   9.4  69.70790  77.28480  ...
201604             8.721                   8.0  66.48770  75.03885  ...
201605             7.439                   8.0  65.93850  74.21480  ...
201606             8.421                   8.0  65.12060  73.04410  ...
201607             9.085                  -0.9  63.92100  71.05590  ...
201608             7.507                  -0.9  64.71560  72.39580  ...
201609             5.823                  -0.9  64.74780  72.56260  ...
201610             5.823                   2.6  62.87900  69.39530  ...

           theaters_viewers_per_1000_cap  seats_theather_rfmin_per_100000_cap  \
yearmonth
201001                             527.0                              0.41000
201002                             527.0                              0.41000
201003                             527.0                              0.41000
201004                             527.0                              0.41000
201005                             527.0                              0.41000
201006                             527.0                              0.41000
201007                             527.0                              0.41000
201008                             527.0                              0.41000
201009                             527.0                              0.41000
201010                             527.0                              0.41000
201011                             527.0                              0.41000
201012                             527.0                              0.41000
201101                             565.0                              0.45356
201102                             565.0                              0.45356
201103                             565.0                              0.45356
201104                             565.0                              0.45356
201105                             565.0                              0.45356
201106                             565.0                              0.45356
201107                             565.0                              0.45356
201108                             565.0                              0.45356
201109                             565.0                              0.45356
201110                             565.0                              0.45356
201111                             565.0                              0.45356
201112                             565.0                              0.45356
201201                             603.0                              0.45070
201202                             603.0                              0.45070
201203                             603.0                              0.45070
201204                             603.0                              0.45070
201205                             603.0                              0.45070
201206                             603.0                              0.45070
...                                  ...                                  ...
201405                               NaN                              0.44784
201406                               NaN                              0.44784
201407                               NaN                              0.44784
201408                               NaN                              0.44784
201409                               NaN                              0.44784
201410                               NaN                              0.44784
201411                               NaN                              0.44784
201412                               NaN                              0.44784
201501                               NaN                              0.45888
201502                               NaN                              0.45888
201503                               NaN                              0.45888
201504                               NaN                              0.45888
201505                               NaN                              0.45888
201506                               NaN                              0.45888
201507                               NaN                              0.45888
201508                               NaN                              0.45888
201509                               NaN                              0.45888
201510                               NaN                              0.45888
201511                               NaN                              0.45888
201512                               NaN                              0.45888
201601                               NaN                                  NaN
201602                               NaN                                  NaN
201603                               NaN                                  NaN
201604                               NaN                                  NaN
201605                               NaN                                  NaN
201606                               NaN                                  NaN
201607                               NaN                                  NaN
201608                               NaN                                  NaN
201609                               NaN                                  NaN
201610                               NaN                                  NaN

           museum_visitis_per_100_cap  bandwidth_sports  \
yearmonth
201001                          993.0               NaN
201002                          993.0               NaN
201003                          993.0               NaN
201004                          993.0               NaN
201005                          993.0               NaN
201006                          993.0               NaN
201007                          993.0               NaN
201008                          993.0               NaN
201009                          993.0               NaN
201010                          993.0               NaN
201011                          993.0               NaN
201012                          993.0               NaN
201101                         1240.0          269768.0
201102                         1240.0          269768.0
201103                         1240.0          269768.0
201104                         1240.0          269768.0
201105                         1240.0          269768.0
201106                         1240.0          269768.0
201107                         1240.0          269768.0
201108                         1240.0          269768.0
201109                         1240.0          269768.0
201110                         1240.0          269768.0
201111                         1240.0          269768.0
201112                         1240.0          269768.0
201201                         1309.0          288177.0
201202                         1309.0          288177.0
201203                         1309.0          288177.0
201204                         1309.0          288177.0
201205                         1309.0          288177.0
201206                         1309.0          288177.0
...                               ...               ...
201405                            NaN          398451.0
201406                            NaN          398451.0
201407                            NaN          398451.0
201408                            NaN          398451.0
201409                            NaN          398451.0
201410                            NaN          398451.0
201411                            NaN          398451.0
201412                            NaN          398451.0
201501                            NaN          463938.0
201502                            NaN          463938.0
201503                            NaN          463938.0
201504                            NaN          463938.0
201505                            NaN          463938.0
201506                            NaN          463938.0
201507                            NaN          463938.0
201508                            NaN          463938.0
201509                            NaN          463938.0
201510                            NaN          463938.0
201511                            NaN          463938.0
201512                            NaN          463938.0
201601                            NaN               NaN
201602                            NaN               NaN
201603                            NaN               NaN
201604                            NaN               NaN
201605                            NaN               NaN
201606                            NaN               NaN
201607                            NaN               NaN
201608                            NaN               NaN
201609                            NaN               NaN
201610                            NaN               NaN

           population_reg_sports_share  students_reg_sports_share  \
yearmonth
201001                             NaN                      63.03
201002                             NaN                      63.03
201003                             NaN                      63.03
201004                             NaN                      63.03
201005                             NaN                      63.03
201006                             NaN                      63.03
201007                             NaN                      63.03
201008                             NaN                      63.03
201009                             NaN                      63.03
201010                             NaN                      63.03
201011                             NaN                      63.03
201012                             NaN                      63.03
201101                           22.37                      64.12
201102                           22.37                      64.12
201103                           22.37                      64.12
201104                           22.37                      64.12
201105                           22.37                      64.12
201106                           22.37                      64.12
201107                           22.37                      64.12
201108                           22.37                      64.12
201109                           22.37                      64.12
201110                           22.37                      64.12
201111                           22.37                      64.12
201112                           22.37                      64.12
201201                           23.01                      67.85
201202                           23.01                      67.85
201203                           23.01                      67.85
201204                           23.01                      67.85
201205                           23.01                      67.85
201206                           23.01                      67.85
...                                ...                        ...
201405                           28.20                        NaN
201406                           28.20                        NaN

In [6]:
# Function to process Almon lags

import numpy.matlib as ml
 
def almonZmatrix(X, maxlag, maxdeg):
    """
    Creates the Z matrix corresponding to vector X.
    """
    n = len(X)
    Z = ml.zeros((len(X)-maxlag, maxdeg+1))
    for t in range(maxlag,  n):
       #Solve for Z[t][0].
       Z[t-maxlag,0] = sum([X[t-lag] for lag in range(maxlag+1)])
       for j in range(1, maxdeg+1):
             s = 0.0
             for i in range(1, maxlag+1):       
                s += (i)**j * X[t-i]
             Z[t-maxlag,j] = s
    return Z

In [7]:
# Prepare data for macro model
y = df.price_doc.div(df.cpi).apply(np.log).loc[201108:201506]
lncpi = df.cpi.apply(np.log)
tblags = 5    # Number of lags used on PDL for Trade Balance
mrlags = 5    # Number of lags used on PDL for Mortgage Rate
cplags = 5    # Number of lags used on PDL for CPI
ztb = almonZmatrix(df.balance_trade.loc[201103:201506].as_matrix(), tblags, 1)
zmr = almonZmatrix(df.mortgage_rate.loc[201103:201506].as_matrix(), mrlags, 1)
zcp = almonZmatrix(lncpi.loc[201103:201506].as_matrix(), cplags, 1)
columns = ['tb0', 'tb1', 'mr0', 'mr1', 'cp0', 'cp1']
z = pd.DataFrame( np.concatenate( (ztb, zmr, zcp), axis=1), y.index.values, columns )
X = sm.add_constant( z )

# Fit macro model
eq = sm.OLS(y, X)
fit = eq.fit()

# Predict with macro model
test_cpi = df.cpi.loc[201507:201605]
test_index = test_cpi.index
ztb_test = almonZmatrix(df.balance_trade.loc[201502:201605].as_matrix(), tblags, 1)
zmr_test = almonZmatrix(df.mortgage_rate.loc[201502:201605].as_matrix(), mrlags, 1)
zcp_test = almonZmatrix(lncpi.loc[201502:201605].as_matrix(), cplags, 1)
z_test = pd.DataFrame( np.concatenate( (ztb_test, zmr_test, zcp_test), axis=1), 
                       test_index, columns )
X_test = sm.add_constant( z_test )
pred_lnrp = fit.predict( X_test )
pred_p = np.exp(pred_lnrp) * test_cpi

# Merge with test cases and compute mean for macro prediction
test["timestamp"] = pd.to_datetime(test["timestamp"])
test["year"]  = test["timestamp"].dt.year
test["month"] = test["timestamp"].dt.month
test["yearmonth"] = 100*test.year + test.month
test_ids = test[["yearmonth","id"]]
monthprices = pd.DataFrame({"yearmonth":pred_p.index.values,"monthprice":pred_p.values})
macro_mean = np.exp(test_ids.merge(monthprices, on="yearmonth").monthprice.apply(np.log).mean())
macro_mean

6593788.9177246885

In [8]:
# Naive macro model assumes housing prices will simply follow CPI
naive_pred_lnrp = y.mean()
naive_pred_p = np.exp(naive_pred_lnrp) * test_cpi
monthnaive = pd.DataFrame({"yearmonth":pred_p.index.values, "monthprice":naive_pred_p.values})
macro_naive = np.exp(test_ids.merge(monthnaive, on="yearmonth").monthprice.apply(np.log).mean())
macro_naive

7773440.7512406502

In [9]:
# Combine naive and substantive macro models
macro_mean = macro_naive * (macro_mean/macro_naive) ** macro_humility_factor
macro_mean

6637341.6089020595

Fit Jason's model

In [11]:
# Jason/Gunja

#load files
train = pd.read_csv('input/train.csv', parse_dates=['timestamp'])
test = pd.read_csv('input/test.csv', parse_dates=['timestamp'])
macro = pd.read_csv('input/macro.csv', parse_dates=['timestamp'])
id_test = test.id

#clean data
bad_index = train[train.life_sq > train.full_sq].index
train.loc[bad_index, "life_sq"] = np.NaN
equal_index = [601,1896,2791]
test.loc[equal_index, "life_sq"] = test.loc[equal_index, "full_sq"]
bad_index = test[test.life_sq > test.full_sq].index
test.loc[bad_index, "life_sq"] = np.NaN
bad_index = train[train.life_sq < 5].index
train.loc[bad_index, "life_sq"] = np.NaN
bad_index = test[test.life_sq < 5].index
test.loc[bad_index, "life_sq"] = np.NaN
bad_index = train[train.full_sq < 5].index
train.loc[bad_index, "full_sq"] = np.NaN
bad_index = test[test.full_sq < 5].index
test.loc[bad_index, "full_sq"] = np.NaN
kitch_is_build_year = [13117]
train.loc[kitch_is_build_year, "build_year"] = train.loc[kitch_is_build_year, "kitch_sq"]
bad_index = train[train.kitch_sq >= train.life_sq].index
train.loc[bad_index, "kitch_sq"] = np.NaN
bad_index = test[test.kitch_sq >= test.life_sq].index
test.loc[bad_index, "kitch_sq"] = np.NaN
bad_index = train[(train.kitch_sq == 0).values + (train.kitch_sq == 1).values].index
train.loc[bad_index, "kitch_sq"] = np.NaN
bad_index = test[(test.kitch_sq == 0).values + (test.kitch_sq == 1).values].index
test.loc[bad_index, "kitch_sq"] = np.NaN
bad_index = train[(train.full_sq > 210) & (train.life_sq / train.full_sq < 0.3)].index
train.loc[bad_index, "full_sq"] = np.NaN
bad_index = test[(test.full_sq > 150) & (test.life_sq / test.full_sq < 0.3)].index
test.loc[bad_index, "full_sq"] = np.NaN
bad_index = train[train.life_sq > 300].index
train.loc[bad_index, ["life_sq", "full_sq"]] = np.NaN
bad_index = test[test.life_sq > 200].index
test.loc[bad_index, ["life_sq", "full_sq"]] = np.NaN
train.product_type.value_counts(normalize= True)
test.product_type.value_counts(normalize= True)
bad_index = train[(train.build_year < 1500) | (train.build_year > 3000)].index
train.loc[bad_index, "build_year"] = np.NaN
bad_index = test[test.build_year < 1500].index
test.loc[bad_index, "build_year"] = np.NaN
bad_index = train[train.num_room == 0].index 
train.loc[bad_index, "num_room"] = np.NaN
bad_index = test[test.num_room == 0].index 
test.loc[bad_index, "num_room"] = np.NaN
bad_index = [10076, 11621, 17764, 19390, 24007, 26713, 29172]
train.loc[bad_index, "num_room"] = np.NaN
bad_index = [3174, 7313]
test.loc[bad_index, "num_room"] = np.NaN
bad_index = train[(train.floor == 0).values * (train.max_floor == 0).values].index
train.loc[bad_index, ["max_floor", "floor"]] = np.NaN
bad_index = train[train.floor == 0].index
train.loc[bad_index, "floor"] = np.NaN
bad_index = train[train.max_floor == 0].index
train.loc[bad_index, "max_floor"] = np.NaN
bad_index = test[test.max_floor == 0].index
test.loc[bad_index, "max_floor"] = np.NaN
bad_index = train[train.floor > train.max_floor].index
train.loc[bad_index, "max_floor"] = np.NaN
bad_index = test[test.floor > test.max_floor].index
test.loc[bad_index, "max_floor"] = np.NaN
train.floor.describe(percentiles= [0.9999])
bad_index = [23584]
train.loc[bad_index, "floor"] = np.NaN
train.material.value_counts()
test.material.value_counts()
train.state.value_counts()
bad_index = train[train.state == 33].index
train.loc[bad_index, "state"] = np.NaN
test.state.value_counts()

# brings error down a lot by removing extreme price per sqm
train.loc[train.full_sq == 0, 'full_sq'] = 50
train = train[train.price_doc/train.full_sq <= 600000]
train = train[train.price_doc/train.full_sq >= 10000]

# Add month-year
month_year = (train.timestamp.dt.month + train.timestamp.dt.year * 100)
month_year_cnt_map = month_year.value_counts().to_dict()
train['month_year_cnt'] = month_year.map(month_year_cnt_map)

month_year = (test.timestamp.dt.month + test.timestamp.dt.year * 100)
month_year_cnt_map = month_year.value_counts().to_dict()
test['month_year_cnt'] = month_year.map(month_year_cnt_map)

# Add week-year count
week_year = (train.timestamp.dt.weekofyear + train.timestamp.dt.year * 100)
week_year_cnt_map = week_year.value_counts().to_dict()
train['week_year_cnt'] = week_year.map(week_year_cnt_map)

week_year = (test.timestamp.dt.weekofyear + test.timestamp.dt.year * 100)
week_year_cnt_map = week_year.value_counts().to_dict()
test['week_year_cnt'] = week_year.map(week_year_cnt_map)

# Add month and day-of-week
train['month'] = train.timestamp.dt.month
train['dow'] = train.timestamp.dt.dayofweek

test['month'] = test.timestamp.dt.month
test['dow'] = test.timestamp.dt.dayofweek

# Other feature engineering
train['rel_floor'] = train['floor'] / train['max_floor'].astype(float)
train['rel_kitch_sq'] = train['kitch_sq'] / train['full_sq'].astype(float)

test['rel_floor'] = test['floor'] / test['max_floor'].astype(float)
test['rel_kitch_sq'] = test['kitch_sq'] / test['full_sq'].astype(float)

train.apartment_name=train.sub_area + train['metro_km_avto'].astype(str)
test.apartment_name=test.sub_area + train['metro_km_avto'].astype(str)

train['room_size'] = train['life_sq'] / train['num_room'].astype(float)
test['room_size'] = test['life_sq'] / test['num_room'].astype(float)

y_train = train["price_doc"]
wts = 1 - .47*(y_train == 1e6)
x_train = train.drop(["id", "timestamp", "price_doc"], axis=1)
x_test = test.drop(["id", "timestamp"], axis=1)

for c in x_train.columns:
    if x_train[c].dtype == 'object':
        lbl = preprocessing.LabelEncoder()
        lbl.fit(list(x_train[c].values)) 
        x_train[c] = lbl.transform(list(x_train[c].values))
        #x_train.drop(c,axis=1,inplace=True)
        
for c in x_test.columns:
    if x_test[c].dtype == 'object':
        lbl = preprocessing.LabelEncoder()
        lbl.fit(list(x_test[c].values)) 
        x_test[c] = lbl.transform(list(x_test[c].values))
        #x_test.drop(c,axis=1,inplace=True)  


xgb_params = {
    'eta': 0.05,
    'max_depth': 5,
    'subsample': 0.7,
    'colsample_bytree': 0.7,
    'objective': 'reg:linear',
    'eval_metric': 'rmse',
    'silent': 1
}

dtrain = xgb.DMatrix(x_train, y_train, weight=wts)
dtest = xgb.DMatrix(x_test)

#cv_output = xgb.cv(xgb_params, dtrain, num_boost_round=1000, early_stopping_rounds=20,
#    verbose_eval=50, show_stdv=False)
#cv_output[['train-rmse-mean', 'test-rmse-mean']].plot()

#num_boost_rounds = len(cv_output)
model = xgb.train(dict(xgb_params, silent=0), dtrain, num_boost_round=350)

#fig, ax = plt.subplots(1, 1, figsize=(8, 13))
#xgb.plot_importance(model, max_num_features=50, height=0.5, ax=ax)

y_predict = model.predict(dtest)
jason_model_output = pd.DataFrame({'id': id_test, 'price_doc': y_predict})
jason_model_output.head()

/home/simon/.local/lib/python2.7/site-packages/ipykernel_launcher.py:13: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  del sys.path[0]
/home/simon/.local/lib/python2.7/site-packages/ipykernel_launcher.py:15: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  from ipykernel import kernelapp as app

      id  price_doc
0  30474  5178849.5
1  30475  7943823.0
2  30476  5383679.0
3  30477  5821812.0
4  30478  4868078.5

In [12]:
jason_model_output.to_csv('jason_model.csv', index=False)
np.exp( jason_model_output.price_doc.apply(np.log).mean() )

6834888.5

Fit Reynaldo's model

In [14]:
# Reynaldo


train = pd.read_csv('input/train.csv')
test = pd.read_csv('input/test.csv')
id_test = test.id

y_train = train["price_doc"]
x_train = train.drop(["id", "timestamp", "price_doc"], axis=1)
x_test = test.drop(["id", "timestamp"], axis=1)

for c in x_train.columns:
    if x_train[c].dtype == 'object':
        lbl = preprocessing.LabelEncoder()
        lbl.fit(list(x_train[c].values)) 
        x_train[c] = lbl.transform(list(x_train[c].values))
        
for c in x_test.columns:
    if x_test[c].dtype == 'object':
        lbl = preprocessing.LabelEncoder()
        lbl.fit(list(x_test[c].values)) 
        x_test[c] = lbl.transform(list(x_test[c].values))

xgb_params = {
    'eta': 0.05,
    'max_depth': 5,
    'subsample': 0.7,
    'colsample_bytree': 0.7,
    'objective': 'reg:linear',
    'eval_metric': 'rmse',
    'silent': 1
}

dtrain = xgb.DMatrix(x_train, y_train)
dtest = xgb.DMatrix(x_test)

num_boost_rounds = 384  # This was the CV output, as earlier version shows
model = xgb.train(dict(xgb_params, silent=0), dtrain, num_boost_round= num_boost_rounds)

y_predict = model.predict(dtest)
reynaldo_model_output = pd.DataFrame({'id': id_test, 'price_doc': y_predict})
reynaldo_model_output.head()

      id  price_doc
0  30474  5448555.5
1  30475  8517570.0
2  30476  5389902.5
3  30477  5937156.0
4  30478  5151572.0

In [15]:
reynaldo_model_output.to_csv('reynaldo_model.csv', index=False)
np.exp( reynaldo_model_output.price_doc.apply(np.log).mean() )

6849211.0

Fit Bruno's model

In [16]:
# Bruno with outlier dropped



# Any results you write to the current directory are saved as output.
df_train = pd.read_csv("input/train.csv", parse_dates=['timestamp'])
df_test = pd.read_csv("input/test.csv", parse_dates=['timestamp'])
df_macro = pd.read_csv("input/macro.csv", parse_dates=['timestamp'])

df_train.drop(df_train[df_train["life_sq"] > 7000].index, inplace=True)

y_train = df_train['price_doc'].values
id_test = df_test['id']

df_train.drop(['id', 'price_doc'], axis=1, inplace=True)
df_test.drop(['id'], axis=1, inplace=True)

num_train = len(df_train)
df_all = pd.concat([df_train, df_test])
# Next line just adds a lot of NA columns (becuase "join" only works on indexes)
# but somewhow it seems to affect the result
df_all = df_all.join(df_macro, on='timestamp', rsuffix='_macro')
print(df_all.shape)

# Add month-year
month_year = (df_all.timestamp.dt.month + df_all.timestamp.dt.year * 100)
month_year_cnt_map = month_year.value_counts().to_dict()
df_all['month_year_cnt'] = month_year.map(month_year_cnt_map)

# Add week-year count
week_year = (df_all.timestamp.dt.weekofyear + df_all.timestamp.dt.year * 100)
week_year_cnt_map = week_year.value_counts().to_dict()
df_all['week_year_cnt'] = week_year.map(week_year_cnt_map)

# Add month and day-of-week
df_all['month'] = df_all.timestamp.dt.month
df_all['dow'] = df_all.timestamp.dt.dayofweek

# Other feature engineering
df_all['rel_floor'] = df_all['floor'] / df_all['max_floor'].astype(float)
df_all['rel_kitch_sq'] = df_all['kitch_sq'] / df_all['full_sq'].astype(float)

# Remove timestamp column (may overfit the model in train)
df_all.drop(['timestamp', 'timestamp_macro'], axis=1, inplace=True)


factorize = lambda t: pd.factorize(t[1])[0]

df_obj = df_all.select_dtypes(include=['object'])

X_all = np.c_[
    df_all.select_dtypes(exclude=['object']).values,
    np.array(list(map(factorize, df_obj.iteritems()))).T
]
print(X_all.shape)

X_train = X_all[:num_train]
X_test = X_all[num_train:]


# Deal with categorical values
df_numeric = df_all.select_dtypes(exclude=['object'])
df_obj = df_all.select_dtypes(include=['object']).copy()

for c in df_obj:
    df_obj[c] = pd.factorize(df_obj[c])[0]

df_values = pd.concat([df_numeric, df_obj], axis=1)


# Convert to numpy values
X_all = df_values.values
print(X_all.shape)

X_train = X_all[:num_train]
X_test = X_all[num_train:]

df_columns = df_values.columns


xgb_params = {
    'eta': 0.05,
    'max_depth': 5,
    'subsample': 0.7,
    'colsample_bytree': 0.7,
    'objective': 'reg:linear',
    'eval_metric': 'rmse',
    'silent': 1
}

dtrain = xgb.DMatrix(X_train, y_train, feature_names=df_columns)
dtest = xgb.DMatrix(X_test, feature_names=df_columns)


num_boost_round = 489  # From Bruno's original CV, I think
model = xgb.train(dict(xgb_params, silent=0), dtrain, num_boost_round=num_boost_round)

y_pred = model.predict(dtest)
bruno_model_output = pd.DataFrame({'id': id_test, 'price_doc': y_pred})
bruno_model_output.head()

(38132, 390)
(38132, 394)
(38132, 394)

      id  price_doc
0  30474  5475894.0
1  30475  8177914.5
2  30476  5443276.0
3  30477  5730751.5
4  30478  5041367.5

In [17]:
bruno_model_output.to_csv('bruno_model.csv', index=False)
np.exp( bruno_model_output.price_doc.apply(np.log).mean() )

6771126.5

Merge and adjust the results

In [18]:
# Merge

results = reynaldo_model_output.merge( 
             jason_model_output.merge(
                 bruno_model_output, on='id', suffixes=['_jason','_bruno'] ), on='id' )
results["price_doc_reynaldo"] = results["price_doc"]
results["price_doc"] = np.exp( np.log(results.price_doc_reynaldo)*reynaldo_weight +
                               np.log(results.price_doc_jason)*jason_weight       +
                               np.log(results.price_doc_bruno)*bruno_weight          )

results.drop(["price_doc_reynaldo", "price_doc_bruno", "price_doc_jason"],axis=1,inplace=True)
results.head()

      id  price_doc
0  30474  5398922.5
1  30475  8331511.5
2  30476  5399288.0
3  30477  5872201.0
4  30478  5071600.5

In [19]:
results.to_csv('unadjusted_combo.csv', index=False)

In [20]:
# Adjust

lny = np.log(results.price_doc)
lnm = np.log(macro_mean)

# I'm not sure whether this makes any sense or not.
# 1+lny.mean()-lnm term is meant to offest the scale effect of the logarithmic mean shift
#   while allowing the new logarithmic mean to remain at lnm.
y_trans = lnm  +  micro_humility_factor * (lny-lny.mean()) * (1+lny.mean()-lnm)
y_predict = np.exp( y_trans )

sub = pd.DataFrame({'id': id_test, 'price_doc': y_predict})
sub.head()

      id  price_doc
0  30474  5210819.0
1  30475  8142013.5
2  30476  5211181.5
3  30477  5681294.0
4  30478  4886119.0

In [21]:
sub.to_csv('sub.csv', index=False)